<div class="container content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 news-list">
            <ul>
                <% page.posts.each(function(post, i){ %>
                <li>
                    <a href="<%- url_for(post.path) %>" class="a-title"><%= post.title %></a>
                    <p class="span-title">作者：master / 发表时间：
                        <time datetime="<%- date(post.date) %>"><%- date(post.date) %></time>
                    </p>
                    <div><%- excerpt(post, 300) %></div>
                </li>
                <% }) %>
            </ul>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="container">
                <%- bootstrap_paginator({
                    prev_text: "Previous",
                    next_text: "Next"
                }) %>
            </div>
        </div>
    </div>
</div>